/* green */

.menu li.item1
{
position:absolute;
left:0px;
top:-500px;
width:1px;
height:1px;
overflow:hidden;
} 

a:link, a:visited {
	color: #4ba123;
}

a:hover {
	color: #316b16;
}

::-moz-selection { /* Change Selection Highlight Color On Firefox */
color:#000 !important;  /*Color of text*/
background:#76D150 !important;  /*Highlighting color*/
}
::selection { /* Change Selection Highlight Color On Safari & Google (maybe Opera too) */
color:#000 !important;  /*Color of text*/
background:#76D150 !important;  /*Highlighting color*/
}

#pillmenu a:hover {
  color: #4ba123;
}

#pillmenu a#active_menu-nav {
  /*background: url(../images/green/mw_menu_active_bg.png)  24 0 repeat-x;*/
  color: #fff;
}

#pillmenu a#active_menu-nav:hover {
  color: #fff;
}

h3, .componentheading, table.moduletable th {
  color: #4ba123;
}

div.module_menu {
	background: url(../images/green/mw_box_br.png) 100% 100% no-repeat;
}

div.module_menu div {
	background: url(../images/green/mw_box_bl.png) 0 100% no-repeat;
}

div.module_menu div div {
	background: url(../images/green/mw_box_tr.png) 100% 0 no-repeat;
}

div.module_menu div div div {
	background: url(../images/green/mw_box_tl.png) 0 0 no-repeat;
}